<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/hello.min.css">
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/hello.min.js"></script>
</head>
<body>
<div class="progress">
    <div></div>
    <span>111</span>
</div>
<form action="/signin" method="post">
    <input type="file" name="file">
    <input type="text" name="user" value="abc" readonly>
    <input type="submit" value="提交">
</form>
<img src="/static/images/loading.gif" alt="">
<span>{{name}}xcdaaa</span>
<span>asfsfsdf</span>
</body>
<script type="text/javascript">

</script>
</html>