<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/hello.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
<div class="progress">
    <div></div>
    <span>111</span>
</div>
<form action="/signin" method="post">
    <input type="file" name="file">
    <input type="text" name="user" value="abc" readonly>
    <input type="submit" value="提交">
</form>
<img src="/static/images/loading.gif" alt="">
<span>{{name}}xcdaaa</span>
<span>asdf</span>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        let progress = 0;
        let timer = setInterval(function(){
            progress += 1;
            $(".progress div").css("width",progress+"%");
            $(".progress span").text(progress+"%");
            if(progress == 100){
                clearInterval(timer)
            }
        },1000/60)
    })
</script>
</html>